<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/dashboard">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="text" name="password">
    <button type="submit">Submit</button>

    </form>
    
</body>
</html>